<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui_buttons_button_common_ui_button_close_rect0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,396},{19,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,19}}</string>
                <key>sourceSize</key>
                <string>{19,19}</string>
            </dict>
            <key>ui_buttons_button_common_ui_button_shadow0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,8},{179,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,78}}</string>
                <key>sourceSize</key>
                <string>{179,78}</string>
            </dict>
            <key>ui_buttons_close_brown_ui_button_close_panel_brown_shape0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,351},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>ui_buttons_close_green_ui_close_btn_close0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,324},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>ui_buttons_close_round_ui_close_round_background0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,615},{42,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,40}}</string>
                <key>sourceSize</key>
                <string>{42,40}</string>
            </dict>
            <key>ui_buttons_close_round_ui_close_round_cross0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,375},{19,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,19}}</string>
                <key>sourceSize</key>
                <string>{19,19}</string>
            </dict>
            <key>ui_buttons_close_yellow_ui_button_close_panel_yellow_shape0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,299},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>ui_commons_ui_fontsize_rect0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,224},{5,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,5}}</string>
                <key>sourceSize</key>
                <string>{5,5}</string>
            </dict>
            <key>ui_commons_ui_transparent_rect0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,396},{19,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,19}}</string>
                <key>sourceSize</key>
                <string>{19,19}</string>
            </dict>
            <key>ui_images_ui_bubble_10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,417},{97,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,97}}</string>
                <key>sourceSize</key>
                <string>{97,97}</string>
            </dict>
            <key>ui_images_ui_bubble_20000.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,134},{100,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,106}}</string>
                <key>sourceSize</key>
                <string>{100,106}</string>
            </dict>
            <key>ui_images_ui_close_btn_shadow0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,88},{42,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,30}}</string>
                <key>sourceSize</key>
                <string>{42,30}</string>
            </dict>
            <key>ui_images_ui_image_cautionmark0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,132},{35,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,30}}</string>
                <key>sourceSize</key>
                <string>{35,30}</string>
            </dict>
            <key>ui_images_ui_image_coin_icon_small0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,169},{29,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,29}}</string>
                <key>sourceSize</key>
                <string>{29,29}</string>
            </dict>
            <key>ui_images_ui_image_energy_icon0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,277},{20,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,26}}</string>
                <key>sourceSize</key>
                <string>{20,26}</string>
            </dict>
            <key>ui_images_ui_image_glow0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,591},{47,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,45}}</string>
                <key>sourceSize</key>
                <string>{47,45}</string>
            </dict>
            <key>ui_images_ui_image_green_bg0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,433},{83,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,74}}</string>
                <key>sourceSize</key>
                <string>{83,74}</string>
            </dict>
            <key>ui_images_ui_image_headicon_10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,488},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>ui_images_ui_image_headicon_20000.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,107},{77,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,87}}</string>
                <key>sourceSize</key>
                <string>{77,87}</string>
            </dict>
            <key>ui_images_ui_image_headicon_30000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,516},{79,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,77}}</string>
                <key>sourceSize</key>
                <string>{79,77}</string>
            </dict>
            <key>ui_images_ui_image_headicon_3_circle0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,443},{80,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,79}}</string>
                <key>sourceSize</key>
                <string>{80,79}</string>
            </dict>
            <key>ui_images_ui_image_infinite_energy0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,568},{49,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,55}}</string>
                <key>sourceSize</key>
                <string>{49,55}</string>
            </dict>
            <key>ui_images_ui_image_leafs_bl0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,434},{52,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,82}}</string>
                <key>sourceSize</key>
                <string>{52,82}</string>
            </dict>
            <key>ui_images_ui_image_leafs_br0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,2},{130,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,109}}</string>
                <key>sourceSize</key>
                <string>{130,109}</string>
            </dict>
            <key>ui_images_ui_image_light0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,574},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>ui_images_ui_image_lock_ico0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,619},{50,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,59}}</string>
                <key>sourceSize</key>
                <string>{50,59}</string>
            </dict>
            <key>ui_images_ui_image_long_separator0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{396,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{396,4}}</string>
                <key>sourceSize</key>
                <string>{396,4}</string>
            </dict>
            <key>ui_images_ui_image_npc_10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,236},{100,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,104}}</string>
                <key>sourceSize</key>
                <string>{100,104}</string>
            </dict>
            <key>ui_images_ui_image_npc_20000.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,338},{100,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,93}}</string>
                <key>sourceSize</key>
                <string>{100,93}</string>
            </dict>
            <key>ui_images_ui_image_npc_30000.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,351},{90,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,97}}</string>
                <key>sourceSize</key>
                <string>{90,97}</string>
            </dict>
            <key>ui_images_ui_image_olive_bg0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{134,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,125}}</string>
                <key>sourceSize</key>
                <string>{134,125}</string>
            </dict>
            <key>ui_images_ui_image_orange_bg0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,224},{134,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,125}}</string>
                <key>sourceSize</key>
                <string>{134,125}</string>
            </dict>
            <key>ui_images_ui_image_rewardclose_10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,592},{52,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,44}}</string>
                <key>sourceSize</key>
                <string>{52,44}</string>
            </dict>
            <key>ui_images_ui_image_rewardclose_20000.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,564},{58,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,49}}</string>
                <key>sourceSize</key>
                <string>{58,49}</string>
            </dict>
            <key>ui_images_ui_image_rewardclose_30000.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,425},{72,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,62}}</string>
                <key>sourceSize</key>
                <string>{72,62}</string>
            </dict>
            <key>ui_images_ui_image_rewardclose_40000.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,348},{75,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,70}}</string>
                <key>sourceSize</key>
                <string>{75,70}</string>
            </dict>
            <key>ui_images_ui_image_rewardopen_10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,534},{55,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,52}}</string>
                <key>sourceSize</key>
                <string>{55,52}</string>
            </dict>
            <key>ui_images_ui_image_rewardopen_30000.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,279},{84,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,72}}</string>
                <key>sourceSize</key>
                <string>{84,72}</string>
            </dict>
            <key>ui_images_ui_image_rewardopen_40000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,329},{100,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,86}}</string>
                <key>sourceSize</key>
                <string>{100,86}</string>
            </dict>
            <key>ui_images_ui_image_select_10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,488},{53,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,44}}</string>
                <key>sourceSize</key>
                <string>{53,44}</string>
            </dict>
            <key>ui_images_ui_image_yellow_bg0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,353},{87,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,79}}</string>
                <key>sourceSize</key>
                <string>{87,79}</string>
            </dict>
            <key>ui_images_ui_imagel_blinking_star0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,671},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>ui_images_ui_images_arrow0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,259},{27,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,16}}</string>
                <key>sourceSize</key>
                <string>{27,16}</string>
            </dict>
            <key>ui_scale9_ui_blank_scale90000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,654},{47,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,47}}</string>
                <key>sourceSize</key>
                <string>{47,47}</string>
            </dict>
            <key>ui_scale9_ui_brown_down_scale90000.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,631},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>ui_scale9_ui_brown_withoutborder_scale90000.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,524},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>ui_scale9_ui_button_green_scale90000.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,8},{165,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,80}}</string>
                <key>sourceSize</key>
                <string>{165,80}</string>
            </dict>
            <key>ui_scale9_ui_dark_brown_scale90000.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,509},{63,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,63}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>ui_scale9_ui_green_withoutborder_scale90000.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,509},{57,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,57}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>ui_scale9_ui_light_border_scale90000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,595},{57,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,65}}</string>
                <key>sourceSize</key>
                <string>{57,65}</string>
            </dict>
            <key>ui_scale9_ui_light_brown_scale90000.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,628},{47,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,47}}</string>
                <key>sourceSize</key>
                <string>{47,47}</string>
            </dict>
            <key>ui_scale9_ui_light_green_scale90000.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,489},{78,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,66}}</string>
                <key>sourceSize</key>
                <string>{78,66}</string>
            </dict>
            <key>ui_scale9_ui_light_yellow_scale90000.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,58},{47,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,47}}</string>
                <key>sourceSize</key>
                <string>{47,47}</string>
            </dict>
            <key>ui_scale9_ui_lighter_brown_scale90000.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,569},{57,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,65}}</string>
                <key>sourceSize</key>
                <string>{57,65}</string>
            </dict>
            <key>ui_scale9_ui_orange_scale90000.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,196},{77,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,81}}</string>
                <key>sourceSize</key>
                <string>{77,81}</string>
            </dict>
            <key>ui_scale9_ui_orange_up_scale90000.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,200},{57,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,27}}</string>
                <key>sourceSize</key>
                <string>{57,27}</string>
            </dict>
            <key>ui_scale9_ui_tip_scale90000.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,90},{139,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,132}}</string>
                <key>sourceSize</key>
                <string>{139,132}</string>
            </dict>
            <key>ui_scale9_ui_white_scale90000.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,591},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>ui_scale9_ui_yellow_border_scale90000.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,8},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>ui_scale9_ui_yellow_green_scale90000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{144,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,112}}</string>
                <key>sourceSize</key>
                <string>{144,112}</string>
            </dict>
            <key>ui_scale9_ui_yellow_withoutborder_scale90000.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,636},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>common_ui@2x.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bf75720b5ab0cfcad08557e79676d95a:1/1$</string>
            <key>textureFileName</key>
            <string>common_ui@2x.png</string>
        </dict>
    </dict>
</plist>
