<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>logo.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{600,800}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{600,800}}</string>
			<key>sourceSize</key>
			<string>{600,800}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>logo@2x.png</string>
		<key>size</key>
		<string>{600,800}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:2ca985333b3f4cd98cd1925ff4106cf9$</string>
		<key>textureFileName</key>
		<string>logo@2x.png</string>
	</dict>
</dict>
</plist>
